body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fcf5ef;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  color: #883910;
}

.footer > h4 {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 700px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 20px 20px 0px #00000017;
}

.drop-section {
  width: 600px;
  height: 200px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px dashed #cfaa95;
  border-radius: 20px;
  color: #5f1607;
}

.drop-section > h5 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 500;
}

.uploadBtn {
  background-color: #faa283;
  border: none;
  height: 50px;
  width: 150px;
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.uploadBtn:hover {
  background-color: black;
}

.drop-section > img {
  width: 100px;
  height: 100px;
}

.download-link-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.download-link-section > h4 {
  margin-right: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fcf5ef;
  font-weight: 500;
}

.copyBtn {
  height: 60px;
  width: 50px;
  margin-left: 10px;
  color: white;
  background-color: #faa283;
  font-size: larger;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.copyBtn:hover {
  background-color: black;
}

.download-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 70vh;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  color: #5f1607;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 20px 0px #00000017;
}

.download-section > button {
  height: 5vh;
  width: 20vw;
  margin-left: 10px;
  color: white;
  background-color: #faa283;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.download-section > img {
  width: 15vh;
  height: 15vh;
}

.download-section > p {
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}
